{% extends "index.html.twig" %}

{% block body %}
    <div class="container">
        <h1>Add brand to {{store.getStoreName}}</h1>
        <form action="/add_brand/{{store.getId}}" method="post">
            <label for="brand_name">Enter brand name </label>
            <input type="text" name="brand_name">
            <button type="submit"> Add </button>
        </form>

    {% if brands is defined %}
        {% for brand in brands %}
            <li>{{brand.getBrandName}}</li>
        {% endfor %}
        <a href="/delete_all_brands/{{store.getId}}"><button>delete all brands from store</button></a>
    {% endif %}
    </div><!-- container -->
{% endblock %}
