<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Shoe store</title>
    </head>
    <body>
        {% block body %}
        <div class="container">
            <h1>Stores</h1>
            <form action="/" method="post">
                <label for="store_name">Enter store name</label>
                <input type="text" name="store_name">
                <button type="submit">Submit</button>
            </form>

            {% if stores is not empty %}
                {% for store in stores %}
                    <a href="add_brand/{{store.getId}}"><li>{{store.getStoreName}}</li></a>

                    <a href="/update_store/{{store.getId}}"><button type="button">Update this store</button></a>

                    <form action="/delete_store/{{store.getId}}" method="post">
                        <input type="hidden" name="_method" value="delete">
                        <button type="submit"> delete this store </button>
                    </form>
                {% endfor %}
                <a href="/delete_all_stores"><button type="button">Delete all stores</button></a>
            {% endif %}
        </div> <!-- container -->
        {% endblock %}
    </body>
</html>
