<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Shoe store</title>
    </head>
    <body>
        {% block body %}
            <a href="/store_list">
                <button type="button">Enter a shoe store</button>
            </a>
            <a href="/brand_list">
                <button type="button">Enter a brand</button>
            </a>
        {% endblock %}
    </body>
</html>
